Sanctuary/1.0/sanctuary.dtd

<!-- This file was generated automatically.  DO NOT EDIT THIS FILE. -->

<!ELEMENT package (desc?)>
<!ATTLIST package name CDATA #REQUIRED>

<!ELEMENT class (namespace?, include*, define*, import*, export*, typedef*, (struct|union|enum)*, (method|abstractmethod)*, (globalvariable)*, desc?)>
<!ATTLIST class name CDATA #REQUIRED>
<!ATTLIST class package CDATA #REQUIRED>

<!ELEMENT interface (namespace?, method*, desc?)>
<!ATTLIST interface name CDATA #REQUIRED>
<!ATTLIST interface package CDATA #REQUIRED>

<!ELEMENT namespace EMPTY>

<!ELEMENT include EMPTY>
<!ATTLIST include file CDATA #REQUIRED>

<!ELEMENT import EMPTY>
<!ATTLIST import type (struct|union|enum) #REQUIRED>
<!ATTLIST import tag CDATA #REQUIRED>

<!ELEMENT export (desc?)>
<!ATTLIST export type (struct|union|enum) #REQUIRED>
<!ATTLIST export tag CDATA #REQUIRED>

<!ELEMENT define (macroparam*, variableparam?, macro?, desc?)>
<!ATTLIST define name CDATA #REQUIRED>

<!ELEMENT macroparam (desc?)>
<!ATTLIST macroparam name CDATA #REQUIRED>

<!ELEMENT macro (#PCDATA)>

<!ELEMENT typedef (desc?)>
<!ATTLIST typedef type CDATA #REQUIRED>
<!ATTLIST typedef name CDATA #REQUIRED>

<!ELEMENT method ((param+, variableparam?)?, modifier?, return?, desc?)>
<!ATTLIST method name CDATA #REQUIRED>

<!ELEMENT abstractmethod ((param+, variableparam?)?, modifier?, return?, desc?)>
<!ATTLIST abstractmethod name CDATA #REQUIRED>

<!ELEMENT param (desc?)>
<!ATTLIST param type CDATA #REQUIRED>
<!ATTLIST param name CDATA #REQUIRED>

<!ELEMENT variableparam EMPTY>

<!ELEMENT modifier EMPTY>
<!ATTLIST modifier code CDATA #REQUIRED>

<!ELEMENT return (desc?)>
<!ATTLIST return type CDATA #REQUIRED>

<!ELEMENT globalvariable (desc?)>
<!ATTLIST globalvariable type CDATA #REQUIRED>
<!ATTLIST globalvariable name CDATA #REQUIRED>

<!ENTITY % nest.group "member|structmember|unionmember|enummember|method">

<!ELEMENT struct ((%nest.group;)*, desc?)>
<!ATTLIST struct tag CDATA #IMPLIED>
<!ATTLIST struct alias CDATA #IMPLIED>

<!ELEMENT structmember ((%nest.group;)*, tag?, desc?)>
<!ATTLIST structmember tag CDATA #IMPLIED>
<!ATTLIST structmember name CDATA #REQUIRED>

<!ELEMENT union ((%nest.group;)*, desc?)>
<!ATTLIST union tag CDATA #IMPLIED>
<!ATTLIST union alias CDATA #IMPLIED>

<!ELEMENT unionmember ((%nest.group;)*, tag?, desc?)>
<!ATTLIST unionmember tag CDATA #IMPLIED>
<!ATTLIST unionmember name CDATA #REQUIRED>

<!ELEMENT enum (constant+, desc?)>
<!ATTLIST enum tag CDATA #IMPLIED>
<!ATTLIST enum alias CDATA #IMPLIED>

<!ELEMENT enummember (constant+, tag?, desc?)>
<!ATTLIST enummember tag CDATA #IMPLIED>
<!ATTLIST enummember name CDATA #REQUIRED>

<!ELEMENT member (desc?)>
<!ATTLIST member type CDATA #REQUIRED>
<!ATTLIST member name CDATA #REQUIRED>

<!ELEMENT constant (desc?)>
<!ATTLIST constant name CDATA #REQUIRED>
<!ATTLIST constant value CDATA #IMPLIED>

<!ELEMENT tag (desc?)>

<!ENTITY % inline.group "code|math|arg|em|a|hypertarget|hyperlink">

<!ELEMENT code (#PCDATA)>

<!ELEMENT math (#PCDATA)>

<!ELEMENT arg (#PCDATA)>

<!ELEMENT em (#PCDATA)>

<!ELEMENT a (#PCDATA)>
<!ATTLIST a href CDATA #REQUIRED>

<!ELEMENT hypertarget (#PCDATA)>
<!ATTLIST hypertarget label ID #REQUIRED>

<!ELEMENT hyperlink (#PCDATA)>
<!ATTLIST hyperlink label CDATA #IMPLIED>
<!ATTLIST hyperlink namespace CDATA #IMPLIED>

<!ENTITY % block.group "p|pre|see|note|ul">

<!ELEMENT p (#PCDATA|%inline.group;|brief)*>

<!ELEMENT see (#PCDATA|%inline.group;)*>

<!ELEMENT note (#PCDATA|%inline.group;)*>

<!ELEMENT ul (li+)>

<!ELEMENT li (#PCDATA|%inline.group;|%block.group;)*>

<!ELEMENT pre (#PCDATA)>

<!ELEMENT brief (#PCDATA|%inline.group;)*>

<!ELEMENT section (#PCDATA)>

<!ELEMENT desc (#PCDATA|%inline.group;|%block.group;|brief|section)*>
